* {
    box-sizing: border-box;
}
html {
    height: 100%;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#calculator {
    height: 800px;
    width: 500px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 3%;
}
#display {
    margin-top: 10px;
    height: 100px;
    width: 450px;
    background-color: darkgray;
    border-radius: 5px;
    justify-content: right;
    align-items: center;
    font-size: 80px;
    display: flex;
    padding-right: 10px;
}
#buttonGrid {
    background-color: black;
    width: 450px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-evenly;
    border-radius: 5px;
}
.row {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.indBtn {
    border: 1px solid white;
    padding: 10px;
    height: 60px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
}
#zero {
    width: 200px;
}